@charset "UTF-8";

/************************ 초기화 ************************/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {
margin: 0; padding: 0;
}

/* 리스트 초기화 */
ul, ol {
	list-style-type: none;
}

/* 링크 관련 */
a:link    {color: #000000; text-decoration: none;} 
a:visited {color: #000000; text-decoration: none;} 
a:hover   {color: #000000; text-decoration: none;}
a:active  {color: #000000; text-decoration: none;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}


/* 레이아웃 */
#wrap {
	margin: 0px auto;
	width: 1000px;
	border: 1px solid #000000;
}

#wrap > #header {
	padding: 10px 0px 10px 0px;
	height: 44px;
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #nav {
	height: 59px;
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #contents {
	height: 268px;
	/* margin: 10px 0px 0px 0px; */
	padding: 48px 0px 48px 0px;
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #footer {
	height: 64px;
	background-color: #d9d9d9;
	text-align: center;
}



/************************ 로그인, 회원가입 ************************/
#header > h1{
	color: #79B30B;
	font-weight: bold;
	font-size: 35px;
	float: left;
}
#header ul {
	margin: 15px 0px 0px 0px;
	float: right;
}

#header > ul > li {
	margin: 0px 0px 0px 0px;
	padding: 0px 13px 0px 0px;
	font-size: 14px;
	float: left;
}


/************************ 입사지원서, 게시판, 갤러리, 방명록 ************************/

#nav > ul > li {
	/* border: 1px solid #000000; */
	/* margin: 19px 70px 0px 70px; */
	padding: 19px 91px 0px 91px;
	font-size: 20px;
	font-weight: bolder;
	float: left;
	text-align: center;
	letter-spacing: 1px;
}

#contents > img {
	padding: 0px 30px 0px 20px;
	width: 268px;
	height: 268px;
	float: left;
}


/************************ footer ************************/

#footer > p {
	padding: 24px 0px 0px 0px;
	font-weight: lighter;
	font-size: 14px;
}










