@charset "UTF-8";

/************************ 초기화 ************************/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {
margin: 0; padding: 0;
}

/* 리스트 초기화 */
ul, ol {
	list-style-type: none;
}

/* 링크 관련 */
a:link    {color: #000000; text-decoration: none;} 
a:visited {color: #000000; text-decoration: none;} 
a:hover   {color: #000000; text-decoration: none;}
a:active  {color: #000000; text-decoration: none;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}


/* 레이아웃 */
#wrap {
	padding: 0px 5px 0px 5px;
	margin: 30px auto;
	width: 990px;
	border: 1px solid #000000;
}

#wrap > #header {
	padding: 10px 0px 10px 0px;
	height: 44px;
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #nav {
	height: 59px;
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #contents {
	height: 268px;
	/* margin: 10px 0px 0px 0px; */
	padding: 48px 0px 48px 0px;
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #footer {
	height: 64px;
	background-color: #d9d9d9;
	text-align: center;
}



/************************ 로그인, 회원가입 ************************/
#header > h1 > a {
	color: #79B30B;
	font-weight: bold;
	font-size: 35px;
	float: left;
}
#header ul {
	margin: 15px 0px 0px 0px;
	float: right;
}

#header > ul > li {
	margin: 0px 0px 0px 0px;
	padding: 0px 13px 0px 0px;
	font-size: 14px;
	float: left;
}


/************************ 입사지원서, 게시판, 갤러리, 방명록 ************************/

#nav > ul > li {
	/* border: 1px solid #000000; */
	/* margin: 19px 70px 0px 70px; */
	padding: 19px 91px 0px 91px;
	font-size: 20px;
	font-weight: bolder;
	float: left;
	text-align: center;
	letter-spacing: 1px;
}
/************************ contents 하위 목록 ************************/
/************************ contents 1페이지 ************************/

#contents > img {
	padding: 0px 30px 0px 20px;
	width: 268px;
	height: 268px;
	float: left;
}
/************************ contents 3페이지 aside ************************/

#aside {
	margin: -36px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 200px;
	height: 341px;
	float: left;
}



#aside th{
	width: 180px;
	height: 70px;
	border: 0px solid #000000;
	background-color: #d9d9d9;
	font-size: 24px;
	letter-spacing: 2px;
}
#aside td{
	width: 180px;
	height: 32px;
	border: 1px solid #000000;
	font-weight: 400;
	text-align: left;
	text-indent: 5px;
}
/************************ contents main ************************/
#main {
	margin: -36px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 780px;
	height: 341px;
	float: left;
}

.부등호:after {
	content: ">"
}

#main h2{
	padding: 30px 0px 0px 0px;
	float: left;
}
#main ul {
	padding: 30px 0px 0px 0px;
	float: right;
}
#main li {
	float: left;
}
/************************ 인사게시판 ************************/


#main form {
	border-top: 1px solid #000000; 
	width: 780px;
	height: 60px;
	overflow: auto;
	float: left;
}
.search {
	float: right;
	margin: 30px 0px 0px 4px;
	padding: 0px 0px 0px 0px;
}

/************************ contents-table ************************/

#main table {
	float: left;
	border-collapse: collapse;
	height: 170px;
	width: 780px;
}
#main th {
	height: 28px;
	border-bottom: 1px solid #d9d9d9;
	background-color: #d9d9d9;
	border-top: 1px solid #000000;
}
#main td {
	height: 32px;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
	font-size: 14px;
}



/************************  리스트 및 글쓰기 ************************/
#list {
	margin: -20px 260px 0px 0px;
	padding: 0px 0px 0px 0px;
	letter-spacing: 6px;
	float: right;
}
#list > li:hover{
	color: #00ff00;
}
#글쓰기 {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:right;
	vertical-align: middle;
}



/************************ footer ************************/

#footer > p {
	padding: 24px 0px 0px 0px;
	font-weight: lighter;
	font-size: 14px;
}
