@charset "UTF-8";

/************************ 초기화 ************************/
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {
margin: 0; padding: 0;
}

/* 리스트 초기화 */
ul, ol {
	list-style-type: none;
}

/* 링크 관련 */
a:link    {color: #000000; text-decoration: none;} 
a:visited {color: #000000; text-decoration: none;} 
a:hover   {color: #000000; text-decoration: none;}
a:active  {color: #000000; text-decoration: none;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}


/* 레이아웃 */
#wrap {
	margin: 0px auto;
	width: 1000px;
}

#wrap > #header {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #nav {
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #contents {
	border-bottom: 1px solid #dfdfdf;
}

#wrap > #footer {
	background-color: #ff0000;
}



/************************ 로그인, 회원가입 ************************/
#header > h1{
	color: #79B30B;
	font-weight: bold;
	font-size: 35px;
	float: left;
}
#header ul {
	margin: 15px 0px 0px 0px;
	float: right;
	
}

#header > ul > li {
	margin: 0px 0px 0px 10px;
	font-size: 13px;
	float: left;
}













